
 @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

 /*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lora', serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 ,h5{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
h5{
  font-size: 1rem;
  
}
p {
  margin-bottom: 1.25rem;
  text-align: justify;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}



@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
} 

@media screen and (max-width: 992px) {
  .db-form{
    flex-direction: column;
  }
  .navbar{
    flex-direction: column!important;
   
   
  }
  .nav-list{
    flex-direction: column;
    
   
  }
 .quillby{
  width: 200px;
  height: 500px;
 }

  
} 


.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-grey-1);
  margin-left: auto;
  margin-right: auto;
}
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.blog{
  border: 1px solid var(--clr-grey-7);
}
.blog img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 10px;
}

.blog h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.slider{
  width: 70vw;
  margin: auto;
}
.slick-arrow {
  background-color: var(--clr-primary-3)!important
}

.btn-grp{
  margin: auto;
  width: fit-content;
}
.home-page h3 {
 
  text-align: center;
  margin-top: 50px;

}
.intro{
  color: var(--clr-grey-3);
  text-align: center;
  margin-top: 2rem;
  font-size: larger;
}


.login {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: var(--radius);
}

.signup {
  background-color: #fff;
  color: #1a1a1a;
 border : 1px solid #1a1a1a;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: var(--radius);
}
.home-page {
  position: relative;
}

.home-page img {
  width: 100%;
}

.external-link{
  color: var(--clr-grey-4);
  text-align: right;
  margin-top: 0;
}

.signup-page {
  max-width: 450px;
   margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-bottom: 2rem;
  margin-top: 1.3rem!important;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  color: #000;
 
}



button[type='submit'] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type='submit']:hover {
  background-color: #333;
} 
.db-form{
  display: flex;
  
  margin: auto;
  gap: 5rem;
  width: fit-content;
 padding: 10px;
 
}
.db-title{
  width: 100%;
  margin: 0;
  
}
.db-title input{
  width: 400px;
}
.db{
  margin-top: 3rem;
}

.blog {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.blog img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog p{
  height:60px;
  line-height:20px; 
  overflow:hidden;
}
.blog h5{
  height:40px;
  line-height:20px; 
  overflow:hidden;
  font-weight: 500;
}

/* Navbar */

.navbar{
  display: flex;
  flex-direction: row;
  justify-items: last-baseline;
  align-items: center;
 justify-content: space-around;
  gap: 3rem;
 
  background-color: var(--clr-grey-8);

}
.nav-list{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
.nav-list h3{
  position: relative;
  right: 3rem;
  top: 0.25rem;
}
.search{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  
}
.search input{
  border-radius: 2rem;
  width: 300px;
}
.search-form{
  display: flex;
}
.search-form button{
  background-color: transparent;
  color: #000;
  position: relative;
  right: 3rem;
  bottom: 0.5rem;
}
.search-form button:hover{
  background-color: transparent;
}

/* individual blog post */

.blog-post{
display: flex;
align-items: center;
flex-direction: column;
margin-top: 3rem;
margin-bottom: 3rem;
width: fit-content;
gap: 1.5rem;
}
.blog-post img{
  width: 100%;
  align-self: center;
  border-radius: 5px;

}
.blog-post div{
  display: flex;
 
 align-items: start;
  width: 60%;
  gap: 1.5rem;
  
}
.b-p{
  
display: flex;
flex-direction: column;

}



.comments{
  display: flex;
  flex-direction: column;
}
.comments h4{
  width: 100%;
}
.comments button , h5{
  align-self: start;
}
.comment-box{
 background-color: var(--clr-grey-9);
  display: flex;
  align-self: start;
 
  flex-direction: column;
  
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 padding: 10px;
}
.comment-box h4{
  margin: 0;
  
}
.main{
  margin-top: 2rem;
}